{% extends 'base.html.twig' %}


{% block body %}
<h1 class="mt-3 mb-4 comp text-center text-dark">ABOUT ME</h1>
		<div class="card mt-5 mb-5 mx-auto bg-dark " style="max-width: 900px;">
			<div class="row no-gutters about">
				<div class="col-md-4 jabi">
					<img src="/img/pic.jpeg" class="card-img margin-5" alt="photo" >
				</div>
				<div class="col-md-8">
					<div class="card-body me"
						<p class="me">My name is Jabinesh. I’m 22 years old. I’m currently student at LePoles as a web developer junior. My hobbies are photography and cycling. I’m passionate about technology. </p>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}