{% extends 'base.html.twig' %} {% block title %}DARKCAPTIONSS {% endblock %} {%
block body %}

<section>
  <div class="container home">
    <div class="hero">
      <h1> Hey My name is <span>Jabinesh</span></h1>
      <p>Developer junior</p>
    </div>
    <img class="text-center" src="/img/hero.png" alt="image"/>
  </div>
</section>

{% endblock %}
