{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!

{% endblock %}

{% block body %}
	<p class="text-description type-me">Hi, my name is Vijayarajah Jabinesh</p>

	<div class="bg">
		<img src="/img/bg.jpg" alt=""/>
	</div>

{% endblock %}
