{% extends 'base.html.twig' %}
{% block title %}Hello RegisterController!
{% endblock %}
{% block body %}
	<div class="row">
		<h2 class="text-centre ">Insciption</h2>
		<div class="col-md-6 mx-auto">
			{{form(inscription)}}
			</div>
		</div>
	{% endblock %}
