<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center ">
      <mide>Copyright &copy; DarkCaptionss</small>
    <div class="social">
      <a href="https://www.instagram.com/dark_captionss/">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/jabinesh-vijayarajah-8598b1231/?original_referer="><i class="fa-brands fa-linkedin"></i></a>
      
      
      <a href="https://github.com/Jabislk"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>
